.results__container {
  height: 600x;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-y: auto;
  margin: 0 auto;
  gap: 20px;
  padding: 10px;
}
.results__container > div > img {
  max-width: 300px;
}
.pagination {
  display: flex;
  justify-content: center;
}
.pagination > button {
  height: 30px;
  width: 70px;
  border: none;
  border-radius: 6px;
  background-color: rgb(243, 248, 253);
  box-shadow: 1px 1px 3px rgba(34, 34, 34, 0.466);
  transition-duration: 0.2s;
}
.pagination > button:hover {
  transform: scale(0.98);
  box-shadow: 1px 1px 3px rgba(34, 34, 34, 0.466) inset;
  background-color: white;
}
.artworks_wrapper {
  position: relative;
  top: 90px;
}
.pagination > span {
  margin: 0 10px;
}
@media screen and (max-width: 600px) {
  .results__container {
    grid-template-columns: 1fr;
  }
}
