.search__bar {
  background-color: orange;
  width: 1200px;

  height: 660px;
}
form {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

input {
  width: 600px;
  height: 45px;
  border-radius: 10px;
  outline: none;
  border: none;
}
select {
  height: 45px;
  width: 60px;
  border-radius: 10px;
  outline: none;
  border: none;
  text-align: center;
}
form > button {
  height: 45px;
  width: 120px;
  border-radius: 10px;
}
a {
  text-decoration: none;
}
