.search__bar {
  width: 100%;
  position: fixed;
  height: 80px;
  z-index: 5;
}
.search__bar > img {
  width: 80px;
  position: fixed;
}
form {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

input {
  width: 50%;
  height: 45px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding-left: 20px;
}
select {
  height: 45px;
  width: 60px;
  border-radius: 10px;
  outline: none;
  border: none;
  text-align: center;
}
form > button {
  height: 45px;
  width: 120px;
  border: none;
  border-radius: 6px;
  background-color: rgb(243, 248, 253);
  box-shadow: 1px 1px 3px rgba(34, 34, 34, 0.466);
  transition-duration: 0.2s;
}
form > button:hover {
  transform: scale(0.98);
  box-shadow: 1px 1px 3px rgba(34, 34, 34, 0.466) inset;
  background-color: white;
}

a {
  text-decoration: none;
}
